* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 968px;
    margin: 0 auto;
}

.muted {
    color: grey;
}

/*------------------- Eigen code -------------------*/

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/* ------------------- Header -------------------*/
.logoBelastingdienst {
    width: 175px;
}

header {
    display: flex;
    align-items: center;
    gap: 361px;

}



nav{
    padding-left: 25px;
}

nav a {
    padding: 20px;
    border: 1px solid black;
    color: white;
    background-color: darkblue;
}

/*---------meldingen----------*/

.form{
    display: flex;
    flex-direction: column;
}

.form-group{
    padding: 10px;
}

.form-group label {
    width: 150px;
    cursor: pointer;
    vertical-align: top;
}

.form-group input[type=text],
.form-group textarea {
    width: 300px;
}

.form-group input[type=submit] {
    padding: 10px;
    cursor: pointer;
}
/*---------home--------*/
.dingen{
    display: flex;
    white-space: pre-line;
}