* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 968px;
    margin: 0 auto;
}

.muted {
    color: grey;
}

a {
    text-decoration: none;
}

/* ------------------- Header -------------------*/
img{
    width: 175px;
    display: block;
    margin: 0 auto;
}

nav {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

nav a {
    padding: 20px;
    margin: 20px;
    border: 1px solid black;
    color: white;
    background-color: #00588E;
}

/*---------meldingen----------*/
input[type=text], input[type=number] {
    width:  50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.form--title{
    font-size: large;
    font-weight: bold;
}

.flexbox--meldingen{
    display: flex;
    justify-content: flex-end;
}

textarea{
    align-self: center;
}


/* .form{
    display: flex;
    flex-direction: column;
}

.form-message{
    display: flex;
}

.form-group{
    padding: 10px;
}

.form-group label {
    width: 150px;
    cursor: pointer;
    vertical-align: top;
}

.form-group input[type=text],
.form-group textarea {
    width: 300px;
}

.form-group input[type=submit] {
    padding: 10px;
    cursor: pointer;
} */
/*---------home--------*/

.titel-nieuws {
    text-align: center;
}
.padding{

.nieuws-rij1,
.nieuws-rij2 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

.nieuws-home {
    border: 2px solid black;
    text-align: center;
    max-width: 500px;
}

.nieuws-img {
    width: 350px;
    margin-left: auto;
    display: block;
    margin-right: auto;
}

.datum--nieuws,
.titel--nieuws {
    font-size: large;
    font-weight: bold;
}

/*---------footer--------*/
footer{
    text-align: center;
    font-weight: bolder;
}

/*----------------Meldingen----------*/

.dabi {
    display: none;
    align-items: flex-end;
    flex-direction: column;
}

.kanaalregie {
    display: none;
    align-items: flex-end;
    flex-direction: column;
}

.klantsignaal {
    display: none;
    align-items: flex-end;
    flex-direction: column;
}

.ketenregie {
    display: none;
    align-items: flex-end;
    flex-direction: column;
}

.titel-dabi {
    font-size: large;
    font-weight: bold;
    margin-bottom: 10px;
    margin-right: 515px;
}

.dabi-tekst {
    border: 1px solid black;
    white-space: pre-line;
    margin-right: 250px;
}


/*-----------------dropdown-----------------*/
.dropbtn {
    background-color: #00588E;
    color: white;
    padding: 20px;
    font-size: 16px;
    cursor: pointer;
}

.dropbtn:hover {
    background-color: white;
    color: #00588E;
    font-weight: bolder;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 500px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}