* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 968px;
    margin: 0 auto;
}

.muted {
    color: grey;
}

/*------------------- Eigen code -------------------*/

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/* ------------------- Header -------------------*/
.logoBelastingdienst {
    width: 175px;
}

header {
    display: flex;
    align-items: center;
    gap: 361px;

}

nav{
    padding-left: 25px;
}

nav a {
    padding: 20px;
    border: 1px solid black;
    color: white;
    background-color: darkblue;
}

/*---------meldingen----------*/
input[type=text], input[type=number] {
    width:  50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.form--title{
    font-size: large;
    font-weight: bold;
}

.flexbox--meldingen{
    display: flex;
    justify-content: flex-end;
}

textarea{
    align-self: center;
}


/* .form{
    display: flex;
    flex-direction: column;
}

.form-message{
    display: flex;
}

.form-group{
    padding: 10px;
}

.form-group label {
    width: 150px;
    cursor: pointer;
    vertical-align: top;
}

.form-group input[type=text],
.form-group textarea {
    width: 300px;
}

.form-group input[type=submit] {
    padding: 10px;
    cursor: pointer;
} */
/*---------home--------*/
.dingen{
    display: flex;
    white-space: pre-line;
    align-items: flex-end;

}
.padding{

    padding-left:10px;
    padding-right:10px;
    white-space: normal;
    width: 75%;
}
p img{
    width: 400px;
    border: 2px;
    border-color:#48639C;
    border-style:solid ;
    margin: 30px;
}

/*---------footer--------*/
footer{
    text-align: center;
}