h1{
    text-align: center;
    background-color: #90E0EF;
    padding: 30px;
    border-bottom:black;
    border-bottom-style: double;
    border-width: 10px;
}
h1 img{width: 90px;
  border-radius: 30px;
  
}